body {
    font-family: Arial, Helvetica, sans-serif;
}


.categorias {
    width: 300px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
.categorias li:hover { 
    font-size: 13px;
    cursor: pointer;
    
}

/* INÍCIO Produtos*/
.produtos {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 230px;
    margin-top: -200px;
}

.box_produtos {
    display:inline-block;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
    width: 250px;
    height: 350px; 
}

.box_produtos p {
    width: 350px;
}

.imgs {
    width: 120px;
}

.descricao {
    text-decoration: black;

}

.strike {
     text-decoration: line-through; color:#e61919;
}

.preço { 
    text-decoration: black;

}
/*  FIM Produtos*/

/* INÍCIO Nossas Lojas */

.enderecos {
    display: inline-block;
    text-align: center;
    margin-left: 200px;   
    margin-left: 50px; 
    padding: 90px;
    
}
/*  FIM Nossas Lojas */

/* INÍCIO Fale Conosco */

 .borda {
    text-align: center;
 }

 .b {
    display: inline-block;
    padding: 30px;
 }

.logo {
    width:40px
}

/* FIM Fale Conosco */

/* INÍCIO Formulários */

form {
    text-align: center;
}

.nome {
    width: 400px; height: 40px;

}
.textoarea{
    width: 400px; height: 80px;
}

/* FIM Fale Conosco */
#formas_pagamento {
    color: #e61919 ;
}

#rodape {
    text-align: center;
}


